<li class="nav-item">
    <a href="{{ path('task.admin.index') }}" class="nav-link {{ is_subpath('task.admin.index') ? 'active' }}">
        <i class="nav-icon fas fa-tasks"></i>
        <p>
            {{ trans("task.title") }}
        </p>
    </a>
</li>